header {
  width: 100%;

  .header-search {
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include simple-input;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: space-around;
      span {
        padding: 10px;
        color: #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/etiqueta.png");
      }
    }
    .menu-burguer {
      display: none;
    }
  }

  .categorias {
    background-color: $color-gray-2;
    .seta-baixo::after {
      content: "";
      background-image: url("../img/seta-baixo.png");
      background-repeat: no-repeat;
      background-size: 100%;
      text-align: center;
      margin-left: 10px;
      width: 12px;
      height: 10px;
    }
    [data-dropdown] {
      &.on {
        .dropdown-menu {
          display: flex;
          animation: show-up 0.3s forwards;
        }
      }
      a {
        display: flex;
        align-items: center;
      }
    }
    @keyframes show-up {
      from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    .dropdown-menu {
      display: none;
      background-color: $color-gray-4;
      position: absolute;
      flex-wrap: wrap;
      z-index: 5;
      top: 43px;
      border: 1px solid $color-gray-4;
      li {
        justify-content: start;
        padding: 5px 0;
        width: 100%;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-3;
        }
        a {
          font-size: 14px;
          color: $color-gray-2;
          margin: 0;
          &:hover {
            color: $color-gray-1;
          }
        }
      }
    }

    nav {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    ul {
      list-style: none;
      display: inline-flex;
      padding: 20px;

      li {
        min-width: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          display: flex;
          margin: 0 20px;
          &:hover {
            color: #e0e0e0;
          }
        }

        &:after {
          content: "";
          height: 30px;
          width: 1px;
          background-color: $color-gray-3;
          opacity: 0.5;
          position: absolute;
          right: 0px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }
  }
}
