@media only screen and (max-width: 768px) {
  header {
    .header-search {
      padding: 15px;
      flex-wrap: wrap;
      justify-content: space-between;
      .flex-end {
        display: flex;
        order: 2;
        position: relative;
        img {
          order: 1;
          max-width: 150px;
        }
        span {
          margin-right: 15px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          order: 4;
        }
        .menu-burguer {
          display: flex;
        }
        .menu-section {
          width: 40px;
          height: 30px;
          margin-right: 20px;
          background-color: orange;
        }

        button {
          border: none;
        }
      }

      form {
        margin: 15px 0;
        width: 100%;
        order: 3;
      }
    }

    .categorias {
      display: none;

      &.on {
        .menu-burguer {
          display: flex;
        }
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 50vw;
        background-color: $color-gray-2;
        display: flex;
        z-index: 10;
      }

      &.on nav {
        display: block;
      }

      &.on .menu-burguer {
        position: absolute;
        right: 25px;
        top: 15px;
      }

      &.on nav ul {
        text-align: center;
        display: block;
      }

      .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        display: block;
      }
    }
  }
  .banner {
    margin-top: 60px;
    h1 {
      font-size: 62px;
    }
  }

  footer {
    & > div {
      padding-bottom: 60px;
      .newsletter {
        flex-wrap: wrap;
        margin-top: 0;
        p {
          font-weight: bold;
          font-size: 15px;
          line-height: 16px;
        }
        form {
          width: 100%;
          flex-wrap: wrap;

          button {
            padding: 10px 50px;
            margin: 15px auto;
          }
        }
      }
    }

    .formas-pagamento {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 237px;
        margin: 0 auto;
        li {
          margin-right: 14px;
        }
      }
    }
    .info {
      & > div {
        flex-direction: column;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          order: -1;

          &:nth-child(2) {
            order: 1;
          }

          h2 {
            margin-top: 15px;
          }
          li {
            margin-bottom: 7px;
          }
        }
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.3fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 2.3fr 1.5fr 1.9fr;
    gap: 15px;
    grid-template-areas: "img img img img img" "img img img img img" "img-2 img-2 img-2 img-2 img-2" "img-3 img-3 img-4 img-4 img-4" "img-5 img-5 img-6 img-6 img-6";

    .img {
      grid-area: img;
    }

    .img-2 {
      grid-area: img-2;
    }

    .img-3 {
      grid-area: img-3;
    }

    .img-4 {
      grid-area: img-4;
    }

    .img-5 {
      grid-area: img-5;
    }

    .img-6 {
      grid-area: img-6;
    }
  }
  @media all and (-ms-high-contrast: none) {
    .grid-container {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1.7fr 0.3fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 0.7fr 1.3fr;
    }

    .img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }

    .img-2 {
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }

    .img-3 {
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    .img-4 {
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
    }

    .img-5 {
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }

    .img-6 {
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
    }
  }
}
